<!DOCTYPE html>
<html>

<head>
	<title>HTML To PDF</title>
	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		body {
			background-color: #2f2f2f;
		}

		.btn {
			background-color: aliceblue;
			color: black;
			border: white;
		}

		.btn:hover {
			background-color: rgb(235, 235, 235);
			color: black;
		}

		.card {
			background-color: #2f2f2f;
			padding: 50px 50px 50px 50px;
			margin: 50px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">
					<div class="text-center">
						<a class="btn btn-info" href="{% url 'view_html' %}" target="_blank">view html</a>
						<a class="btn btn-info" href="{% url 'render_pdf_download' %}" target="_blank">Download PDF</a>

					</div>
				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>


</body>

</html>